build-debug/
build-release/
build/
out/
cmake-build-*/
.vs/
*.vcxproj.user
*.sln
*.vcxproj
*.vcxproj.filters
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
_deps/
*.spv
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.obj
Thumbs.db
Desktop.ini
.DS_Store
.idea/
*.swp
*.swo